<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portafolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portafolio.styles.css" asp-append-version="true" />
</head>

<body>
    <style>
        .sidebar 
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 10%;
            height: 94%;
            display: flex;
            flex-direction: column;
            background: #1d373d;
            padding-top: 30px;
            color-interpolation: linearRGB;
            min-width:100px;
        }

        .main-div
        {
            margin-left: 15%;
            width: 70%;
            align-content: center;
        }

        .icon
        {
            width: 30%;
            border-radius: 0%;
            gap: 0px;
        }

        a
        {
            text-decoration: none;
            font-family: Cambria;
            font-size:100%;    
            width: 100%;
            text-align: start;
            color: #fff9bd;
            gap: 10%;
            margin-bottom: 25%;
        }

        a:hover 
        {
            color: gray;
        }

        ul
        {
            list-style: none;
        }

        li
        {
            margin-bottom: 20%;
        }

        .container 
        {
            display: flex;
            flex-direction: row;
        }
        
    </style>

    <div>
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <img src="/images/home.svg" class="icon" />
                            Home
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Books" asp-action="Index">
                            <img src="/images/book.svg" class="icon" />
                            Books
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Devices" asp-action="Index">
                            <img src="/images/device.svg" class="icon" />
                            Devices
                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    @RenderSection("Content", required: false)

    <footer class="border-top footer text-muted" style="background-color:white">
        <div class="container">
            &copy; 2025 - Aurelio Siordia González
        </div>  
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>