@{
    ViewData["Title"] = "Personal library";
}

@model List<Book>


<style>
    .grid-books
    {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10%);
    grid-template-rows: repeat(auto-fill, 25%);
    grid-gap: 3%;
    grid:fit-content(); 
    width: 100%;
    height: 100%;
    }

    h1
    {
    text-align: center;
    }

    label
    {
    font-size: smaller;
    align-items: center;
    align-self: center;
    align-content: center;
    }

    div, img
    {
    width: 100%;
    }

</style>

<div>
    <div>
        <img src="/images/lib_banner.jpg">
        <h1>Personal library</h1>
    </div>

    <div>
        <div class="grid-books">
            @if (Model is not null)
            {
                foreach (var items in Model)
                {
                    <div>
                        <img src="/images/default-cover.jpg" alt="" style="width: 100%">
                        <label>@items.Title.ToUpper()</label>
                    </div>
                }
             }
            </div>
        </div>
    </div>
</div>
