@{
    ViewData["Title"] = "Personal library";
}

@model List<Book>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Cover</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var items in Model)
            {
                <tr>
                    <td>@items.Title.ToUpper()</td>
                    <td>@items.Author.ToUpper()</td>
                    <td><img src="/images/default-cover.jpg" alt="" width="100"></td>
                    <td>@items.Description?.ToUpper()</td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>@Environment.GetEnvironmentVariable("IMAGE_STORAGE_PATH")</h1>