@model Book

@{
    ViewData["Title"] = Model.Title.ToUpper();
}


<style>
    .container 
    {
        display: flex;
        flex-direction: row; 
        gap: 10px; 
    }

    .title
    {
        text-align: center;
        padding-top: 2%;
    }

    .details
    {
        padding-left: 2%;
        text-align: justify;
        padding-top: 5%;    
    }

    .cover
    {
        height: 30%;
        min-height: 300px;
        max-height: 400px;
    }

    .info-div
    {
        margin-top: 3%;
        background-color: #FCFCF2;
        padding: 5%;
        border-radius: 1%;
    }

</style>


<div class="info-div">
    <h1 class="title">@Model.Title.ToUpper()</h1>
    <h2 class="title">@Model.Author.ToUpper()</h2>
    @if (Model is not null)
    {
        <div class="container">
            <img src="@Model.Cover" class="cover" />
            <p class="details">@Model.Description</p>
        </div>

    }
</div>