@{
    ViewData["Title"] = "Portfolio";
}

<style>
    img
    {
        width: 30%;
        border-radius:50%;
        gap: 5px;
    }


    h2 
    {
        font-family: Cambria;
    }

    .name-header
    {
        text-align: center;
        padding: 2%;
        font-size: 500%;
        font-family: Cambria;
    }

    .banner-div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100%;        
    }
</style>

<div class="banner-div">
    <img src="/images/photo.png" style="align-content: center"/>
</div>

<div class="align-content-center">
    <h1 class="name-header">Aurelio Siordia González</h1>
</div>

<div>

    <h2>Welcome Visitor</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <hr />

    <h2>How Am I?</h2>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
   </p>
</div>