@{
    ViewData["Title"] = "Portfolio";
}

<style>
    img
    {
        width: 30%;
        border-radius:50%;
        gap: 5px;
    }

    .name-header
    {
        text-align: center;
        padding: 2%;
        font-size: 500%;
        font-family: Cambria;
    }

    .banner-div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .index-link
    {
        color: darkblue;
        font-family: Arial;
        font-style:italic;
    }

    .contact-link
    {
        color: darkblue;
        font-family: Arial;
        font-style: initial;
    }

    .index-li
    {
        margin: 0;
        margin-bottom: 1%;
        padding: 0;
    }

</style>


@section Content
{
    <div class="main-div">
        <div class="banner-div">
            <img src="/images/photo.png" style="align-content: center" />
        </div>

        <div class="align-content-center">
            <h1 class="name-header">Aurelio Siordia González</h1>
        </div>

        <div>
            <h2>Welcome Visitor</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <hr/>

            <h2>How Am I?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <hr />

            <h2>Repositories</h2>
            <div>
                <ul>
                    <li class="index-li">
                        <a href="https://github.com/HighASG936/Portafolio" class="contact-link">This WedApp</a>
                    </li>

                    <li class="index-li">
                        <a href="https://github.com/HighASG936/calc-flask" class="contact-link">Microservice-based Flask Calculator</a>
                    </li>

                    <li class="index-li">
                        <a href="https://github.com/HighASG936/chat" class="contact-link">C#-based Chat</a>
                    </li>

                    <li class="index-li">
                        <a href="https://github.com/HighASG936/DevicesInventory" class="contact-link">Devices Inventory</a>
                    </li>

                    <li class="index-li">
                        <a href="https://github.com/HighASG936/apiLibrary" class="contact-link">API of my personal library</a>
                    </li>                    

                </ul>
            </div>
            <hr />

            <h2>Certificates</h2>
            <p style="margin: 0; margin-bottom: 1%">
                Here are the links to my current certificates:
            </p>

            <ul>
                <li class="index-li">
                    <a href="https://www.freecodecamp.org/certification/aurelio-siordia/foundational-c-sharp-with-microsoft" class=index-link>
                        Foundational C# With Microsoft
                    </a>
                </li>

                <li class="index-li">
                    <a href="https://www.udemy.com/certificate/UC-a7263a6a-5a20-4ec5-9309-e766c2303c7a/" class=index-link>
                        Aprende Programación Backend en C# .NET
                    </a>
                </li>

                <li class="index-li">
                    <a href="https://www.udemy.com/certificate/UC-926affb0-e03e-4363-a72f-7851532614a7/" class=index-link>
                        Curso de C# .NET AVANZADO
                    </a>
                </li>

                <li class="index-li">
                    <a href="https://www.hackerrank.com/certificates/6d9e060d9928" class=index-link>
                        Python (Basic) Certificate
                    </a>
                </li>
            </ul>
        </div>
        <hr />

        <div>
            <h2>Contact Me</h2>
            <p> email:
                <a href="mailto: jonico.dorico@gmail.com" class="contact-link">jonico.dorico@gmail.com</a>
            </p>

            <p> Gihub profile:
                <a href="https://github.com/HighASG936" class="contact-link">https://github.com/HighASG936</a>
            </p>

        </div>
    </div> 
}
