@{
    ViewData["Title"] = "Portfolio";
}


<div class="align-content-center">
    <h1>Aurelio Siordia González</h1>
</div>

<div>
    <h2>How Am I?</h2>
    <p>asdfkjh asdflkjhasd asdlfkjhasdf asdkfjh adsoahjsdf </p>
</div>

<div>
    <button onclick="window.location.href='Books'">Books</button>
    <button onclick="window.location.href='Devices'">Devices</button>
</div>